@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ember Islands in ASP.NET MVC</h1>
    <p class="lead">Rendering ember components and growing islands of richness</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{
        var gettingStarted = new
        {
            title = "Getting started",
            previewText = "ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.",
            expandedText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec enim erat. Curabitur volutpat purus ante. Nullam vitae commodo est. Nunc at nisl ut nunc convallis rhoncus ut vitae erat. Sed eu odio congue, tempus diam in, ornare est. Nunc et sem id dui vulputate eleifend eget quis felis. Praesent ornare vel nibh nec luctus."
        };
        var getMore = new
        {
            title = "Get more libraries",
            previewText = "NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.",
            expandedText = "Etiam fringilla orci et luctus iaculis. Nunc elementum neque blandit facilisis scelerisque. Cras elementum volutpat urna sed sagittis. Mauris in ipsum enim. Suspendisse non fermentum enim, non commodo ex. Sed tempus maximus bibendum. Donec nec aliquet lorem, sit amet venenatis purus. Sed et scelerisque sem."
        };
        var webHosting = new
        {
            title = "Web Hosting",
            previewText = "You can easily find a web hosting company that offers the right mix of features and price for your applications.",
            expandedText = "Aliquam eu enim quis nibh pellentesque cursus. Suspendisse aliquet sem dui, et molestie velit feugiat ac. In tincidunt pellentesque condimentum. Praesent tellus risus, interdum sit amet rhoncus id, efficitur nec elit. Duis consectetur convallis risus sed dignissim. In fermentum euismod lorem sit amet dapibus. Quisque varius sem sit amet bibendum scelerisque."
        };
    }

    <div data-component="read-more-paragraph" data-attrs="@Json.Encode(gettingStarted)"></div>
    <div class="col-md-4">
        <h2>@getMore.title</h2>
        <p>
            @getMore.previewText
        </p>
        <p style="display: none;" id="libraies-extra">
            @getMore.expandedText
        </p>
        <p><button class="btn btn-link" onclick="$('#libraies-extra').toggle()">Read more</button></p>
    </div>
    <div class="col-md-4">
        <h2>@webHosting.title</h2>
        <p>
            @webHosting.previewText
        </p>
        <p style="display: none;" id="hosting-extra">
            @webHosting.expandedText
        </p>
        <p><button class="btn btn-link" onclick="$('#hosting-extra').toggle()">Read more</button></p>
    </div>
</div>